@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.form {
  @apply w-3/4 max-w-lg flex flex-col items-center mt-5 gap-4;
}

.input {
  @apply h-auto w-full px-5 py-3 border border-solid border-gray-300 placeholder-gray-400 rounded invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500;
}

.button {
  @apply w-3/4 max-w-lg text-center px-5 py-3 rounded cursor-pointer;
}

.button-primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white;
}

.button-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black;
}

.text-primary {
  @apply text-black text-2xl;
}

.text-secondary {
  @apply text-gray-400 text-lg;
}

.link {
  @apply text-blue-500 hover:text-blue-600 text-base font-normal cursor-pointer;
}

.material-symbols-outlined {
  color: #3b82f6;
  font-size: 32px;
}
